@keyframes backgroundPulse {
	0% {background-color: var(--accent2);}
	50% {background-color: var(--accent1);}
	100% {background-color: var(--accent2);}
}
@keyframes backgroundPulseOpp {
	0% {background-color: var(--accent1);}
	50% {background-color: var(--accent2);}
	100% {background-color: var(--accent1);}
}
@keyframes scrollThrough {
	0% {margin-left: 0;}
	50% {margin-left: calc((100vh * 1.7) * -1);}
	100% {margin-left: 0;}
}
@keyframes colorPulse {
	0% {color: var(--accent2);}
	50% {color: var(--accent1);}
	100% {color: var(--accent2);}
}
@keyframes colorPulseOpp {
	0% {color: var(--accent1);}
	50% {color: var(--accent2);}
	100% {color: var(--accent1);}
}
@keyframes bbPulse {
	0% {border-color: var(--accent2);}
	50% {border-color: var(--accent1);}
	100% {border-color: var(--accent2);}
}