@import 'colors';
$accent: #3F5D70;
.current {
    color: $accent;
}
#backgroundimage {
    position: fixed;
    top: -10vw; left: -10vw;
    width: 120vw; height: calc(100vh + 20vw);
    background: url('../img/bg/blue_blue.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(6vw);
}
#top {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    p {
        font-size: 30px;
        padding-bottom: 40px;
    }
    span {
        font-size: 7vw;
        font-weight: normal;
        line-height: 1;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    #top {
        p {
            font-size: 24px;
            padding-bottom: 40px;
        }
        span {
            font-size: 8vw;
            word-break: break-all;
            font-weight: normal;
            padding-bottom: 10px;
        }
    }
}