#section0 {
  background: #fff;
}

#section0 .right {
  background-image: url("../img/profile.png");
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

#section1 .right {
  background-image: url("../img/thumbnails/IHSTSA.jpg");
  background-size: cover;
}

#section2 .right {
  background-image: url("../img/thumbnails/Humanities Class.jpg");
  background-size: cover;
}

#section3 .right {
  background-image: url("../img/thumbnails/Von Cramm.jpg");
  background-size: cover;
}

#section4 .right {
  background-image: url("../img/thumbnails/IHS Social Justice Week.jpg");
  background-size: cover;
}

#section5 .right {
  background-image: url("../img/thumbnails/John.jpg");
  background-size: cover;
}

#section6 .right {
  background-image: url("../img/thumbnails/joseph.jpg");
  background-size: cover;
}

.project {
  background: #eee;
}

.project .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.project .right img {
  display: none;
}

.aboutphoto {
  background-image: url("../img/Photo.jpg") !important;
}

.contactpanel .links {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.contactpanel .links .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contactpanel .links .cont a {
  font-size: 4vw;
  line-height: 1.25;
  padding-right: 2vw;
  margin: 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contactpanel .links .cont a b {
  font-weight: normal;
  opacity: 1;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.contactpanel .links .cont a i {
  position: absolute;
  font-style: normal;
  opacity: 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  background: white;
}

.contactpanel .links .cont a:hover b {
  opacity: 0;
}

.contactpanel .links .cont a:hover i {
  opacity: 1;
}
/*# sourceMappingURL=home.css.map */