#section0 {
    background: #fff;
    .right {
        background-image: url("../img/profile.png");
        filter: grayscale(0.75);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        //box-shadow: 0 0.5vw 1vw -0.25vw #aaa;
    }
}
.project {
    background: #eee;
    .right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        img {
            max-height: calc((100vh - 60px) * 0.7 - 30px);
            max-width: 100%;
            border-radius: 20px;
            //box-shadow: 0 0.5vw 1vw -0.5vw #999;
        }
    }
}
.aboutphoto {
    background-image: url("../img/Photo.jpg") !important;
}
.contactpanel {
    .links {
        grid-column: 2 / 3;
        grid-row: 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        .cont {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            a {
                font-size: 4vw;
                line-height: 1.25;
                padding-right: 2vw;
                margin: 0;
                transition-duration: .4s;
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                b {
                    font-weight: normal;
                    opacity: 1;
                    transition-duration: .4s;
                }
                i {
                    position: absolute;
                    font-style: normal;
                    opacity: 0;
                    transition-duration: .4s;
                    background: white;
                }
                &:hover {
                    b {
                        opacity: 0;
                    }
                    i {
                        opacity: 1;
                    }
                }
            }
        }
    }
}