$light: #ffffff;
$dark: #111112;

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2vw;
        p, a {
            font-size: 2.625vw;
            line-height: 1;
        }
    }
    h1 {
        font-size: 8vw;
        line-height: 1;
        margin-bottom: 4vw;
    }
    @keyframes bounce {
        0% {
            transform: translateY(0.5vw);
        }
        50% {
            transform: translateY(-0.5vw);
        }
        100% {
            transform: translateY(0.5vw);
        }
    }
    .downarrow {
        position: absolute;
        bottom: 4vw;
        right: 5vw;
        transition-duration: .4s;
        img {
            height: 6vw;
        }
        animation: bounce 2s ease-in-out infinite;
    }
}
.about {
    p {
        margin-top: 4vw;
        font-size: 3.5vw;
        line-height: 1.15;
        width: 50%;
    }
    .row {
        margin-top: 4vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        grid-gap: 4vw;
        .flower {
            width: calc(50% - 4vw);
            height: calc(50% - 4vw);
            margin-right: 4vw;
        }
        .col {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            a {
                font-size: 7vw;
                line-height: 1;
                border-bottom: 0.4vw solid $dark;
                transition-duration: .4s;
                img {
                    height: 4.5vw;
                }
            }
            p {
                width: 100%;
            }
        }
    }
}
.work {
    margin-top: 8vw;
    h1 {
        font-size: 14vw;
        width: 100%;
        line-height: 1;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1vw;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-bottom: 2vw;
        .button {
            all: unset;
            margin-right: 2vw;
            margin-bottom: 2vw;
            opacity: 0.4;
            font-size: 1.75vw;
            transition-duration: .3s;
            border-bottom: 1px solid $light;
            line-height: 1.1;
        }
        .active {
            opacity: 1;
            border-bottom: 1px solid $dark;
        }
    }
    .projects {
        .parent {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding-bottom: 2vw;
            padding-top: 2vw;
            border-top: 1px solid $dark;
            .thumbnail {
                width: 30vw;
                margin-right: 2vw;
                filter: saturate(0);
                transition-duration: .4s;
            }
            .text {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 1.75vw;
                    line-height: 1;
                }
                .type {
                }
                .title {
                    font-size: 3.5vw;
                    padding: 0.5vw 0;
                }
                .year {
                }
            }
            &:hover {
                .thumbnail {
                    filter: saturate(1);
                }
            }
            &:last-child {
                padding-bottom: 2vw;
                border-bottom: 1px solid $dark;
            }
        }
    }
}
.contact {
    margin-top: 8vw;
    padding-bottom: 4vw;
    border-bottom: 1px solid $dark;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    h1 {
        font-size: 14vw;
        width: 100%;
        line-height: 1;
    }
    p {
        margin: 4vw 0;
        font-size: 2.625vw;
        line-height: 1.15;
        width: 75%;
        margin-left: 25%;
    }
    a {
        font-size: 2.625vw;
        line-height: 1;
        margin-left: 25%;
        transition-duration: .4s;
        margin-bottom: 0.5vw;
        border-bottom: 0.2vw solid $dark;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        height: auto;
        justify-content: flex-start;
        .header {
            margin-top: 4vw;
            p, a {
                font-size: 5vw;
            }
        }
        h1 {
            font-size: 15vw;
            margin-top: 4vw;
            margin-bottom: 12vw;
        }
        .downarrow {
            display: none;
        }
    }
    .about {
        p {
            margin-top: 8vw;
            font-size: 8vw;
            width: 100%;
        }
        .row {
            margin-top: 8vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .flower {
                width: 75vw;
                height: 75vw;
                margin-right: 0;
            }
            .col {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding-top: 8vw;
                a {
                    font-size: 8vw;
                    border-bottom: 0.6vw solid $dark;
                    img {
                        height: 5.4vw;
                    }
                }
            }
        }
    }
    .work {
        margin-top: 20vw;
        h1 {
            font-size: 18vw;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 1vw;
            flex-wrap: wrap;
            margin-top: 8vw;
            margin-bottom: 8vw;
            .button {
                margin-right: 20px;
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
        .projects {
            .parent {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 8vw;
                padding-top: 8vw;
                border-top: 1px solid $dark;
                .thumbnail {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 4vw;
                    transition-duration: 0s;
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    p {
                        font-size: 4vw;
                    }
                    .type {
                    }
                    .title {
                        font-size: 8vw;
                        padding: 2vw 0;
                    }
                }
                &:last-child {
                    padding-bottom: 8vw;
                    border-bottom: 1px solid $dark;
                }
            }
        }
    }
    .contact {
        margin-top: 20vw;
        padding-bottom: 16vw;
        h1 {
            font-size: 18vw;
        }
        p {
            margin: 8vw 0;
            font-size: 6vw;
            line-height: 1.15;
            width: 100%;
            margin-left: 0;
        }
        a {
            font-size: 6vw;
            line-height: 1;
            margin-left: 0;
            margin-bottom: 2vw;
            border-bottom: 0.4vw solid $dark;
        }
    }
}