.hero {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero .name {
  width: 100%;
  height: 100%;
  background: url("../img/Jacob Yoon.svg");
  margin-bottom: 80px;
  background-position: top;
  border-bottom: 2px solid #111;
}

.hero .img {
  width: 100%;
}

.hero .info {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .info p {
  font-size: 2em;
  text-align: center;
  width: 100%;
  margin-bottom: 80px;
}

.hero .stripes {
  background: url("../img/pencils.jpg");
  background-size: cover;
  width: calc(100% - 160px);
  margin: 0 80px;
  height: 500px;
  border-radius: 22px;
  -webkit-box-shadow: 0px 10px 30px -20px #111;
          box-shadow: 0px 10px 30px -20px #111;
}

.about {
  padding: 160px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about p {
  font-size: 2em;
  line-height: 1.25;
  text-align: center;
  max-width: 800px;
}

.heading {
  padding: 80px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading p {
  font-size: 9vw;
  line-height: 1;
  text-align: center;
}

.works .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .buttons .button {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #111;
  padding: 10px 16px;
  margin-right: 20px;
  border-radius: 22px;
  margin-bottom: 20px;
}

.works .buttons .button .box {
  height: 10px;
  width: 10px;
  border: 2px solid #111;
  margin-right: 10px;
  border-radius: 50%;
}

.works .buttons .active .box {
  background: #111;
}

.works .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works .projects .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  margin-bottom: 40px;
  width: 100%;
}

.works .projects .parent .type {
  line-height: 1;
  position: absolute;
  font-size: 1em;
  opacity: 0.8;
}

.works .projects .parent .title {
  margin-top: 24px;
  font-size: 2.5vw;
  line-height: 1;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.works .projects .parent .year {
  margin-top: 24px;
  font-size: 2.5vw;
  line-height: 1;
}

.works .projects .parent .dots {
  margin: 0 10px;
  margin-top: 24px;
  height: 2vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: dotted #111 3px;
}

.works .projects .parent:hover .title {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

.works .projects .parent:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=home.css.map */