$accent: #d89501;
$base: #dbdbdb;

::-webkit-scrollbar {
    width: 25px;
    z-index: 101;
}
::-webkit-scrollbar-track {
    background: $accent;
}
::-webkit-scrollbar-thumb {
    background: black;
}
.t {
    height: 25px;
    width: 100vw;
    top: 0;
    left: 0;
}
.b {
    height: 25px;
    width: 100vw;
    bottom: 0;
    left: 0;
}
.l {
    width: 25px;
    height: 100vh;
    top: 0;
    left: 0;
}
.outline {
    background: $accent;
    position: fixed;
    z-index: 100;
}
::selection {
    background: black;
    color: $accent;
}