$accent: #d89501;
$secondary: #d89501;
$base: #dbdbdb;

@keyframes pulse {
    0% { color: $accent; }
    50% { color: $base; }
    100% { color: $accent; }
}
@keyframes pulse {
    0%   { background-color: $accent; }
    50%  { background-color: $secondary; }
    100% { background-color: $accent; }
}
::-webkit-scrollbar {
    width: 25px;
    z-index: 101;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: black;
}
::-webkit-scrollbar-button {
    height: 25px;
}
.t {
    height: 25px;
    width: 100vw;
    top: 0;
    left: 0;
}
.b {
    height: 25px;
    width: 100vw;
    bottom: 0;
    left: 0;
}
.l {
    width: 25px;
    height: 100vh;
    top: 0;
    left: 0;
}
.outline {
    background: $accent;
    position: fixed;
    z-index: 100;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease;
}
::selection {
    background: black;
    color: $accent;
}
#cursorFollower {
    background: $accent;
    position: fixed;
    border-radius: 50%;
    z-index: -1;
    transition-duration: 1.75s;
    transition-timing-function: cubic-bezier(.08,.35,.16,1.02);
    pointer-events: none;
    top: -400px;
    left: calc(50vw - 200px);
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease;
}
#cursor {
    background: black;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
    pointer-events: none;
    top: -16px;
    left: calc(50vw - 8px);
}