@-webkit-keyframes backgroundPulse {
  0% {
    background-color: #d13a3a;
  }
  50% {
    background-color: #5d90dd;
  }
  100% {
    background-color: #d13a3a;
  }
}

@keyframes backgroundPulse {
  0% {
    background-color: #d13a3a;
  }
  50% {
    background-color: #5d90dd;
  }
  100% {
    background-color: #d13a3a;
  }
}

@-webkit-keyframes backgroundPulseOpp {
  0% {
    background-color: #5d90dd;
  }
  50% {
    background-color: #d13a3a;
  }
  100% {
    background-color: #5d90dd;
  }
}

@keyframes backgroundPulseOpp {
  0% {
    background-color: #5d90dd;
  }
  50% {
    background-color: #d13a3a;
  }
  100% {
    background-color: #5d90dd;
  }
}

@-webkit-keyframes scrollThrough {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: calc((100vh * 1.7) * -1);
  }
  100% {
    margin-left: 0;
  }
}

@keyframes scrollThrough {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: calc((100vh * 1.7) * -1);
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes colorPulse {
  0% {
    color: #d13a3a;
  }
  50% {
    color: #5d90dd;
  }
  100% {
    color: #d13a3a;
  }
}

@keyframes colorPulse {
  0% {
    color: #d13a3a;
  }
  50% {
    color: #5d90dd;
  }
  100% {
    color: #d13a3a;
  }
}

@-webkit-keyframes colorPulseOpp {
  0% {
    color: #5d90dd;
  }
  50% {
    color: #d13a3a;
  }
  100% {
    color: #5d90dd;
  }
}

@keyframes colorPulseOpp {
  0% {
    color: #5d90dd;
  }
  50% {
    color: #d13a3a;
  }
  100% {
    color: #5d90dd;
  }
}

@-webkit-keyframes bbPulse {
  0% {
    border-color: #d13a3a;
  }
  50% {
    border-color: #5d90dd;
  }
  100% {
    border-color: #d13a3a;
  }
}

@keyframes bbPulse {
  0% {
    border-color: #d13a3a;
  }
  50% {
    border-color: #5d90dd;
  }
  100% {
    border-color: #d13a3a;
  }
}

.left {
  width: 100px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.navBar {
  width: 100px;
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: 5;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.nav {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  position: fixed;
  height: 100px;
  width: 320px;
  top: 50px;
  left: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav a {
  text-align: center;
  color: white;
  font-weight: 400 !important;
  letter-spacing: .5px;
}

.nav a:hover {
  color: #d13a3a;
}

.contactButton {
  text-align: center;
  color: white;
  font-weight: 400 !important;
  letter-spacing: .5px;
}

.contactButton:hover {
  color: #d13a3a;
  cursor: pointer;
}

.checkbox {
  opacity: 0;
  position: fixed;
}

.contactPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-animation-name: backgroundPulse;
          animation-name: backgroundPulse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  top: 40px;
  left: 30px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  color: #191c21;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.contactPopup h5 {
  font-style: italic;
  font-size: 2em;
  font-weight: 300;
}

.contactPopup h3 {
  margin: 0px 0 20px 0;
  font-weight: 500;
  font-size: 5em;
}

.contactPopup h2 b {
  -webkit-animation-name: colorPulseOpp;
          animation-name: colorPulseOpp;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.contactPopup ul {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.error {
  opacity: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 2;
  font-family: 'IBM Plex Sans', sans-serif;
  display: table;
  position: absolute;
  margin: -50px 0 0 320px;
  font-style: italic;
}

.errorMessage {
  margin: -100px 0 0 320px;
}

input, textarea {
  display: table;
  padding: 14px 0;
  margin-bottom: 8px;
  border: none;
  background: none;
  border-bottom: 2px solid #191c21;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #191c21;
  width: 300px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #191c21;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #191c21;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #191c21;
}

input::placeholder, textarea::placeholder {
  color: #191c21;
}

textarea {
  height: 100px;
  resize: none;
  margin-bottom: 50px;
}

textarea::-webkit-scrollbar {
  width: 2px;
  background: transparent;
  right: 100px;
}

textarea::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#d13a3a), to(#5d90dd));
  background: linear-gradient(to bottom, #d13a3a, #5d90dd);
}

textarea:focus, input:focus {
  outline: none;
  background: #191c21;
  color: rgba(255, 255, 255, 0.7);
  padding: 14px;
  border-radius: 7px;
}

textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

textarea:focus::-ms-input-placeholder, input:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

textarea:focus::placeholder, input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

#contact-submit {
  color: #FFF;
  background: #191c21;
  padding: 15px 35px;
  border-radius: 7px;
  border: none;
  font-size: 1.05em;
}

#contact-submit:hover {
  background: #2a2f3d;
  cursor: pointer;
}

.contactX {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40px;
  right: 40px;
  height: 23.33px;
  width: 23.33px;
  z-index: 11;
}

.contactX:hover {
  cursor: pointer;
}

.contactX span {
  background: white;
  height: 3px;
  width: 30px;
  border-radius: 1.5px;
  position: absolute;
}

.contactX .one {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contactX .two {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contactXBg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40px;
  right: 40px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  border-radius: 25px;
  margin: -13px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.contactX:hover ~ .contactXBg {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox:checked ~ .contactPopup {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  left: 40px;
}
/*# sourceMappingURL=menu.css.map */