//Variables
$light: #f2e4da;
$dark: #410807;
$accent: #68a7b6;
$gap: 30px;
.color {
    color: #410807;
}
.background {
    background: #f2e4da;
}
.border-top {
    border-top: 1px solid $dark;
}
.border-bottom {
    border-bottom: 1px solid $dark;
}
::selection {
    background: $dark;
    color: $light;
}

//Scrollbar
::-webkit-scrollbar {
    background: $light;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: $dark;
}

//Main
* {
    font-family: roc-grotesk, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    //cursor: none;
}
html {
    overflow-x: hidden !important;
    font-size: 18px;
    scroll-behavior: smooth;
}
body {
    background: $light;
    overflow-x: hidden;
}

h1 {
    font-size: 8em;
    line-height: 1;
}
h2 {
    font-size: 5em;
    line-height: 1;
}
h3 {
    font-size: 4em;
    line-height: 1.15;
}
h4 {
    font-size: 3em;
    line-height: 1.15;
}
h5 {
    font-size: 2em;
    line-height: 1.15;
}
p {
    font-size: 1em;
    line-height: 1.15;
}
a {
    text-decoration: none;
}
@media screen and (max-width: 1100px) {
    h1 {
        font-size: 7em;
        line-height: 1;
    }
    h2 {
        font-size: 4em;
        line-height: 1;
    }
    h3 {
        font-size: 3em;
        line-height: 1.15;
    }
    h4 {
        font-size: 2em;
        line-height: 1.15;
    }
    h5 {
        font-size: 1.5em;
        line-height: 1.15;
    }
}
@media screen and (max-width: 700px) {
    h1 {
        font-size: 6em;
        line-height: 1;
    }
    h2 {
        font-size: 3em;
        line-height: 1;
    }
    h3 {
        font-size: 2em;
        line-height: 1.15;
    }
    h4 {
        font-size: 1.5em;
        line-height: 1.15;
    }
    h5 {
        font-size: 1.25em;
        line-height: 1.15;
    }
}

#canvas {
    pointer-events: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    opacity: .1;
    z-index: 100;
    image-rendering: pixelated;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $light;
    z-index: 98;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0 0 1 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; margin: 0;
    img {
        max-width: 600px;
        width: calc(100vw - 80px);
        padding: 0; margin: 0;
    }
}
#cursor {
    position: fixed;
    height: 14px;
    width: 14px;
    background: $dark;
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    transform: translateY(-14px);
}
#cursor-behind {
    position: fixed;
    height: 300px;
    width: 300px;
    background: $accent;
    border-radius: 50%;
    transition-duration: .2s;
    z-index: -1;
    pointer-events: none;
    transform: translateY(-300px);
    transition-timing-function: ease-out;
}
.button {
    border-bottom: 1px solid $light;
    transition-duration: .4s;
    font-size: 1em;
    line-height: 1;
    &:hover {
        border-bottom: 1px solid $dark;
    }
}
#header {
    position: fixed;
    top: 0; left: 0;
    width: calc(100vw - 60px); height: 70px;
    //background: $light;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
    transition: top 0.4s;
    border-bottom: 1px solid $dark;
    //background: linear-gradient(to top, rgba(0,0,0,0), $light);
    background: $light;
    margin: 0 30px;
    .logo {
        font-size: 1em;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
    }
    .links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            a {
                font-size: 1em;
                margin-left: 40px;
                text-decoration: none;
                transition-duration: .3s;
                line-height: 1;
                padding-top: 3px;
                &:first-child { margin-left: 0;}
                &:hover { opacity: .5; }
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
        .quarter {
            width: 25%;
        }
        .half {
            width: 50%;
        }
    }
}
#icon {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 10;
    img {
        height: 80px;
    }
}
#page {
    width: 100vw;
    padding: 30px;
    box-sizing: border-box;
}
#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: -1;
    padding: 80px 80px 0 80px;
    box-sizing: border-box;
    h4 {
        margin: 160px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
    }
}
#space {
    height: 100vh;
}
#about {
    width: 75%;
    margin-left: 25%;
    display: flex;
    flex-direction: row; 
    height: 40vw;   
    .img {
        height: 40vw;
        width: 30vw;
        background: url('../img/jacob1.jpg');
        background-size: cover;
        background-position: center center;
        filter: grayscale(1);
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: calc(100% - 30vw);
        padding: 80px 50px;
        box-sizing: border-box;
        h5 {
            font-size: 1.5em;
            padding-bottom: 30px;
        }
    }
}
.work-title {
    width: 100%;
    height: 75vh;
    text-align: center;
    padding: 100px 0 30px 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    h2 {
        max-width: 700px;
    }
}
#work {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
    .grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            transform: scale(.8);
            transition-duration: .5s;
            img {
                width: 100%;
                transition-duration: .65s;
            }
            p {
                width: 100%;
                padding: 20px 0;
                margin-top: 3px;
            }
            &:hover {
                transform: scale(1);
            }
        }
    }
    @media screen and (max-width: 1100px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}

#footer {
    width: 100%;
    
    box-sizing: border-box;
    padding: 40px 80px;
    p {
        text-align: center;
    }
}