@font-face {
  font-family: SctoGroteskA;
  src: url(../fonts/SctoGroteskA-Bold.woff2) format("woff2"), url(../fonts/SctoGroteskA-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: SctoGroteskA;
  src: url(../fonts/SctoGroteskA-Medium.woff2) format("woff2"), url(../fonts/SctoGroteskA-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: SctoGroteskA;
  src: url(../fonts/SctoGroteskA-Regular.woff2) format("woff2"), url(../fonts/SctoGroteskA-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Favorit;
  src: url(../fonts/favorit-regular-webfont.woff2) format("woff2"), url(../fonts/favorit-regular-webfont.woff) format("woff");
  font-weight: 400;
}

::-moz-selection {
  background: #410807;
  color: #f2e4da;
}

::selection {
  background: #410807;
  color: #f2e4da;
}

::-webkit-scrollbar {
  background: #f2e4da;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #410807;
}

* {
  font-family: roc-grotesk, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  cursor: none;
}

html {
  overflow: hidden !important;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  background: #f2e4da;
  overflow: hidden;
}

h1 {
  font-size: 8em;
  line-height: 1;
}

h2 {
  font-size: 5em;
  line-height: 1;
}

h3 {
  font-size: 4em;
  line-height: 1.15;
}

h4 {
  font-size: 3em;
  line-height: 1.15;
}

h5 {
  font-size: 2em;
  line-height: 1.15;
}

p {
  font-size: 1em;
  line-height: 1.15;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 7em;
    line-height: 1;
  }
  h2 {
    font-size: 4em;
    line-height: 1;
  }
  h3 {
    font-size: 3em;
    line-height: 1.15;
  }
  h4 {
    font-size: 2em;
    line-height: 1.15;
  }
  h5 {
    font-size: 1.5em;
    line-height: 1.15;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 6em;
    line-height: 1;
  }
  h2 {
    font-size: 3em;
    line-height: 1;
  }
  h3 {
    font-size: 2em;
    line-height: 1.15;
  }
  h4 {
    font-size: 1.5em;
    line-height: 1.15;
  }
  h5 {
    font-size: 1.25em;
    line-height: 1.15;
  }
}

#canvas {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: .1;
  z-index: 100;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #f2e4da;
  z-index: 98;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0 0 1 0);
          transition-timing-function: cubic-bezier(0 0 1 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #000;
}

#loader img {
  max-width: 600px;
  width: calc(100vw - 80px);
}

#cursor {
  position: fixed;
  height: 14px;
  width: 14px;
  background: #410807;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

#cursor-behind {
  position: fixed;
  height: 300px;
  width: 300px;
  background: #68a7b6;
  border-radius: 50%;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  z-index: -1;
  pointer-events: none;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 8px);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0;
  z-index: 10;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(#f2e4da));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f2e4da);
  padding: 0 80px;
}

#header .logo img {
  height: 30px;
  color: #410807;
}

#header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .links ul a {
  color: #410807;
  font-size: 1em;
  margin-left: 40px;
  text-decoration: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#header .links ul a:first-child {
  margin-left: 0;
}

#header .links ul a:hover {
  opacity: .5;
}

#hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  top: 0;
  color: #410807;
  z-index: -1;
  padding: 80px 80px 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hero h4 {
  margin: 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
}

#page {
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}

#work {
  width: 100%;
  color: #410807;
  padding: 80px 80px 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#work h2 {
  margin-bottom: 80px;
}

#work h4 {
  margin-bottom: 40px;
}

#work .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#work .grid .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work .grid .container img {
  width: 100%;
  -webkit-transition-duration: .65s;
          transition-duration: .65s;
}

#work .grid .container p {
  display: none;
}

#work .grid .container:hover img {
  opacity: .5;
}

#work .grid .container:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 1100px) {
  #work .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

#footer {
  width: 100%;
  color: #410807;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 80px;
}

#footer p {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  #cursor {
    display: none;
  }
  #cursor-behind {
    display: none;
  }
  #header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 0 40px;
  }
  #header .logo img {
    height: 20px;
  }
  #hero {
    padding: 40px 40px 0 40px;
  }
  #hero h4 {
    margin: 120px 0;
  }
  #work {
    padding: 40px 40px 0 40px;
  }
  #work .grid {
    grid-gap: 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  #header {
    width: 100vw;
    height: 60px;
    padding: 0 30px;
  }
  #header .logo img {
    height: 20px;
  }
  #header .links ul a {
    margin-left: 30px;
    font-size: .9em;
  }
  #hero {
    padding: 30px 30px 0 30px;
  }
  #work {
    padding: 30px 30px 0 30px;
  }
  #work .grid {
    grid-gap: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */