@font-face {
  font-family: SctoGroteskA;
  src: url(../fonts/SctoGroteskA-Bold.woff2) format("woff2"), url(../fonts/SctoGroteskA-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: SctoGroteskA;
  src: url(../fonts/SctoGroteskA-Medium.woff2) format("woff2"), url(../fonts/SctoGroteskA-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: SctoGroteskA;
  src: url(../fonts/SctoGroteskA-Regular.woff2) format("woff2"), url(../fonts/SctoGroteskA-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Favorit;
  src: url(../fonts/favorit-regular-webfont.woff2) format("woff2"), url(../fonts/favorit-regular-webfont.woff) format("woff");
  font-weight: 400;
}

::-webkit-scrollbar {
  background: #2e3830;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c47f66;
}

#cursor {
  position: fixed;
  height: 14px;
  width: 14px;
  background: black;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
}

* {
  font-family: SctoGroteskA;
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  cursor: none;
}

html {
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  background: #2e3830;
}

h1 {
  font-size: 6em;
  line-height: 1;
}

h2 {
  font-size: 5em;
  line-height: 1;
}

h3 {
  font-size: 4em;
  line-height: 1.15;
}

h4 {
  font-size: 3em;
  line-height: 1.15;
}

h5 {
  font-size: 2em;
  line-height: 1.15;
}

p {
  font-size: 1em;
  line-height: 1.15;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 5em;
    line-height: 1;
  }
  h2 {
    font-size: 4em;
    line-height: 1;
  }
  h3 {
    font-size: 3em;
    line-height: 1.15;
  }
  h4 {
    font-size: 2em;
    line-height: 1.15;
  }
  h5 {
    font-size: 1.5em;
    line-height: 1.15;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4em;
    line-height: 1;
  }
  h2 {
    font-size: 3em;
    line-height: 1;
  }
  h3 {
    font-size: 2em;
    line-height: 1.15;
  }
  h4 {
    font-size: 1.5em;
    line-height: 1.15;
  }
  h5 {
    font-size: 1.25em;
    line-height: 1.15;
  }
}

#grain {
  pointer-events: none;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation: grain 1s steps(10) infinite;
          animation: grain 1s steps(10) infinite;
  opacity: .2;
  background-image: url(../img/noise.png);
  z-index: 1000;
}

@-webkit-keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 25%);
            transform: translate(3%, 25%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 25%);
            transform: translate(3%, 25%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: #2e3830;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 80px;
  z-index: 10;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

#header .logo img {
  height: 80px;
  color: #c47f66;
}

#header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .links ul:first-child {
  margin-right: 80px;
}

#header .links ul a {
  color: #c47f66;
  font-size: 1.25em;
  margin-left: 40px;
  text-decoration: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#header .links ul a:first-child {
  margin-left: 0;
}

#header .links ul a:hover {
  opacity: .5;
}

#hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px;
  position: fixed;
  top: 0;
  color: #c47f66;
  z-index: -1;
}

#page {
  z-index: 1;
  position: absolute;
  top: 100vh;
  width: 100%;
}

#about {
  width: 100%;
  background: #c47f66;
  color: #2e3830;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px;
}

#about h1 {
  margin-bottom: 40px;
}

#work {
  width: 100%;
  background: #2e3830;
  color: #c47f66;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 160px 80px;
}

#work h1 {
  margin-bottom: 80px;
}

#work h4 {
  margin-bottom: 40px;
}

#work .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#work .grid .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work .grid .container img {
  width: 100%;
  border-radius: 20px;
  -webkit-transition-duration: .65s;
          transition-duration: .65s;
}

#work .grid .container p {
  position: absolute;
  opacity: 0;
  -webkit-transition-duration: .65s;
          transition-duration: .65s;
  font-size: 5em;
  font-weight: 500;
  color: #c47f66;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

#work .grid .container:hover img {
  opacity: .15;
}

#work .grid .container:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 1100px) {
  #work .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

#footer {
  width: 100%;
  background: #2e3830;
  color: #c47f66;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 80px;
}

#footer p {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */