//Fonts
@font-face {
    font-family: SctoGroteskA;
    src: url(../fonts/SctoGroteskA-Bold.woff2) format("woff2"), url(../fonts/SctoGroteskA-Bold.woff) format("woff");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: SctoGroteskA;
    src: url(../fonts/SctoGroteskA-Medium.woff2) format("woff2"), url(../fonts/SctoGroteskA-Medium.woff) format("woff");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: SctoGroteskA;
    src: url(../fonts/SctoGroteskA-Regular.woff2) format("woff2"), url(../fonts/SctoGroteskA-Regular.woff) format("woff");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: Favorit;
    src: url(../fonts/favorit-regular-webfont.woff2) format("woff2"), url(../fonts/favorit-regular-webfont.woff) format("woff");
    font-weight: 400;
}

//Variables
$light: #f2e4da;
$dark: #410807;
$accent: #68a7b6;
::selection {
    background: $dark;
    color: $light;
}

//Scrollbar
::-webkit-scrollbar {
    background: $light;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: $dark;
}

//Main
* {
    font-family: roc-grotesk, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    cursor: none;
}
html {
    overflow: hidden !important;
    font-size: 18px;
    scroll-behavior: smooth;
}
body {
    background: $light;
    overflow: hidden;
}

h1 {
    font-size: 8em;
    line-height: 1;
}
h2 {
    font-size: 5em;
    line-height: 1;
}
h3 {
    font-size: 4em;
    line-height: 1.15;
}
h4 {
    font-size: 3em;
    line-height: 1.15;
}
h5 {
    font-size: 2em;
    line-height: 1.15;
}
p {
    font-size: 1em;
    line-height: 1.15;
}
a {
    text-decoration: none;
}
@media screen and (max-width: 1100px) {
    h1 {
        font-size: 7em;
        line-height: 1;
    }
    h2 {
        font-size: 4em;
        line-height: 1;
    }
    h3 {
        font-size: 3em;
        line-height: 1.15;
    }
    h4 {
        font-size: 2em;
        line-height: 1.15;
    }
    h5 {
        font-size: 1.5em;
        line-height: 1.15;
    }
}
@media screen and (max-width: 700px) {
    h1 {
        font-size: 6em;
        line-height: 1;
    }
    h2 {
        font-size: 3em;
        line-height: 1;
    }
    h3 {
        font-size: 2em;
        line-height: 1.15;
    }
    h4 {
        font-size: 1.5em;
        line-height: 1.15;
    }
    h5 {
        font-size: 1.25em;
        line-height: 1.15;
    }
}

#canvas {
    pointer-events: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    opacity: .1;
    z-index: 100;
    image-rendering: pixelated;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: $light;
    z-index: 98;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0 0 1 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    img {
        max-width: 600px;
        width: calc(100vw - 80px);
    }
}
#cursor {
    position: fixed;
    height: 14px;
    width: 14px;
    background: $dark;
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    transform: translateY(-14px);
}
#cursor-behind {
    position: fixed;
    height: 300px;
    width: 300px;
    background: $accent;
    border-radius: 50%;
    transition-duration: .2s;
    z-index: -1;
    pointer-events: none;
    transform: translateY(-300px);
    transition-timing-function: ease-out;
}
#header {
    position: fixed;
    top: 0; left: 0;
    width: calc(100vw - 8px); height: 80px;
    //background: $light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0 0;
    z-index: 10;
    transition: top 0.4s;
    //border-bottom: 2px solid $dark;
    background: linear-gradient(to top, rgba(0,0,0,0), $light);
    //background: $light;
    padding: 0 80px;
    .logo {
        img {
            height: 30px;
            color: $dark;
        }
    }
    .links {
        display: flex;
        flex-direction: row;
        ul {
            display: flex;
            flex-direction: row;
            //&:first-child { margin-right: 100px;}
            a {
                color: $dark;
                font-size: 1em;
                margin-left: 40px;
                text-decoration: none;
                transition-duration: .3s;
                &:first-child { margin-left: 0;}
                &:hover { opacity: .5; }
            }
        }
    }
}

#hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    //position: fixed;
    top: 0;
    color: $dark;
    z-index: -1;
    padding: 80px 80px 0 80px;
    box-sizing: border-box;
    h4 {
        margin: 160px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
    }
}

#page {
    z-index: 1;
    //position: absolute;
    //top: 100vh;
    width: 100%;
    height: 100vh;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
}

#work {
    width: 100%;
    color: $dark;
    padding: 80px 80px 0 80px;
    box-sizing: border-box;
    h2 {
        margin-bottom: 80px;
    }
    h4 {
        margin-bottom: 40px;
    }
    .grid {
        display: grid;
        grid-gap: 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                //border-radius: 20px;
                transition-duration: .65s;
            }
            p {
                display: none;
            }
            &:hover {
                img {
                    opacity: .5;
                }
                p {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    @media screen and (max-width: 1100px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}

#footer {
    width: 100%;
    color: $dark;
    box-sizing: border-box;
    padding: 40px 80px;
    p {
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    #cursor {
        display: none;
    }
    #cursor-behind {
        display: none;
    }
    #header {
        top: 0; left: 0;
        width: 100vw; height: 60px;
        padding: 0 40px;
        .logo {
            img {
                height: 20px;
            }
        }
    }
    
    #hero {
        padding: 40px 40px 0 40px;
        h4 {
            margin: 120px 0;
        }
    }
    
    #work {
        padding: 40px 40px 0 40px;
        .grid {
            grid-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 700px) {
    #header {
        width: 100vw; height: 60px;
        padding: 0 30px;
        .logo {
            img {
                height: 20px;
            }
        }
        .links ul a {
            margin-left: 30px;
            font-size: .9em;
        }
    }
    
    #hero {
        padding: 30px 30px 0 30px;
    }
    
    #work {
        padding: 30px 30px 0 30px;
        .grid {
            grid-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}