$bg: #eee;
$color: #111;

//Fonts
@font-face {
    font-family: "Meadow";
    src: url("../fonts/Meadow.woff");
}

//Scrollbar
::-webkit-scrollbar {
    background: $bg;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: $color;
}
::selection {
    color: $color;
    background: $bg;
}

//Main
* {
    margin: 0; padding: 0;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
    letter-spacing: 0.02em;
    color: $color;
    cursor: none;
}
.meadow {
    font-family: "Meadow";
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: $bg;
    font-size: 16px;
    overflow-y: hidden;
}
body {
    overflow-x: hidden;
}
#container {
    width: 100%;
    box-sizing: border-box;
    padding: 80px;
}
#canvas {
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    pointer-events: none;
    opacity: 0.07;
}
#loader {
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    transition-duration: 2s;
    background: $bg;
    display: flex;
    justify-content: center; align-items: center;
    transition-delay: 1s;
    img {
        width: 140px;
        transition-duration: 1s;
    }
}
#cursor {
    position: fixed;
    z-index: 999;
    backdrop-filter: invert(1);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: -200px; left: -200px;
    pointer-events: none;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        opacity: 0;
        position: absolute;
        text-align: center;
        color: $bg;
        font-size: 0.25em;
    }
}
#imgcursor {
    position: fixed;
    z-index: 998;
    //top: -200px; left: -200px;
    pointer-events: none;
    transition: transform 0.2s;
    transform: scale(0);
    transform-origin: center;
    border-radius: 22px;
    box-shadow: 0px 10px 30px -20px $color;
    height: 12vw;
    img {
        height: 12vw;
        width: auto;
        border-radius: 22px;
        margin: 0;
    }
}
.bottom {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0.6;
    p {
        font-size: 14px;
        line-height: 1.25;
    }
    a {
        font-size: 24px;
        text-decoration: none;
        line-height: 1;
    }
}

@media screen and (max-width: 1100px) {
    #cursor {
        display: none;
    }
    #imgcursor {
        display: none;
    }
    * {
        cursor: auto;
        a:hover {
            cursor: pointer;
        }
        button:hover {
            cursor: pointer;
        }
    }
    #container {
        padding: 40px;
    }
}
#canvas {
    position: fixed;
    z-index: 1001;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}