html {
  overflow-y: scroll;
}

#hero {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px;
}

#hero a {
  margin: 80px 0;
}

#hero a img {
  height: 40px;
  width: 40px;
  margin: 0;
}

#hero h1 {
  font-size: 6vw;
  line-height: 1.15;
}

#hero img {
  margin-top: 80px;
  width: calc(50vw - 80px);
  -webkit-box-shadow: 0px 10px 30px -20px black;
          box-shadow: 0px 10px 30px -20px black;
  border-radius: 22px;
}

#about {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px;
}

#about p {
  font-size: 2.5em;
  line-height: 1.25;
}

#about h1 {
  font-size: 5em;
  line-height: 1;
  padding: 160px 0 40px 0;
}

#about ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 20px;
}

#about ul li {
  list-style: none;
  font-size: 2.5em;
  line-height: 1;
}

.bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0.6;
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bot p {
  font-size: 14px;
  line-height: 1.25;
}

.bot a {
  font-size: 24px;
  text-decoration: none;
  line-height: 1;
}

@media screen and (max-width: 1100px) {
  #hero {
    padding: 20px;
  }
  #hero a {
    font-size: 1em;
    margin: 40px 0;
  }
  #hero h1 {
    font-size: 2.5em;
    line-height: 1.15;
  }
  #hero img {
    margin-top: 40px;
    width: 100%;
  }
  #about {
    padding: 20px;
  }
  #about p {
    font-size: 1.15em;
    line-height: 1.4;
  }
  #about h1 {
    font-size: 2.2em;
    line-height: 1;
    padding: 40px 0 40px 0;
  }
  #about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-display: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  #about ul li {
    width: 50%;
    font-size: 1.15em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px 20px 0;
    line-height: 1.25;
  }
}

@media screen and (max-width: 740px) {
  #about ul li {
    width: 100%;
  }
  .bot {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bot p {
    font-size: 12px;
    line-height: 1.5;
  }
  .bot a {
    font-size: 12px;
    padding-top: 10px;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=about.css.map */